{% extends 'base.html' %}
{% block content %}
{% include 'alerts/alert.html' %}
<form action="{% url 'register' %}" method="POST">
  {% csrf_token %}
  <div><label for="username">Ник</label><input type="text" name="username"  required></div>
  <div ><label for="email">Email</label><input type="email" name="email"  required></div>
  <div><label for="password2">Пароль</label><input type="password" name="password"  required></div>
  <div><label for="password">Подтвердите пароль</label><input type="password" name="password2" required></div>
  <input type="submit" value="Зарегистрироваться">
</form>
{% endblock %}