{% extends 'base.html' %}
{% block content %}
<div class="wrapper row3">
<div class="hoc container clear">
<div class="content three_quarter">
<h1>Редактировать</h1>
<form method="POST" action="{% url 'edit' %}" enctype="multipart/form-data">
    {% csrf_token %}
    About:
    <br>
        <input type="text" name="about">
    </br>
     Image:
    <br>
        <input type="file" name="image" >
    </br>
        <input class="btn btn-primary" type="submit" value="поiхали">
    </form>
</div>
</div>
</div>
{% endblock %}