{% extends 'base.html' %}
{% block content %}
<div class="materials" <a href="/"></a>
	<div class="headline"><h2>с какой задачей вам нужна помощь<h2></div>
	<div class="math"><h3>математика<h3></div>
		<ul><li></li></ul>
	<div class="physics"><h3>физика<h3></div>
		<ul>
			<li><a href="/physics/mechanics/mechanics.html">Механика</a></li>
			<li><a href="/physics/kinematics/kinemitacs.html">Кинематика</a></li>
			<li><a href="/physics/dynamics/dynamics.html">Динамика</a></li>
			<li><a href="/physics/electrostatics/electrostatics.html">Электростатика</a></li>
			<li><a href="/physics/hydrostatics/hydrostatics.html">Гидростатика</a></li> 

		</ul>
	<div class="infromatics"><h3>информатика<h3></div>
		<ul>
			<li><a href="{% url 'informatics_tasks'%}">Перевод систем счисления</a></li> 
		</ul>
</div>
{% endblock %}