{% extends 'base.html' %}
{% block content %}
<div class="materials" ><a href="/"></a></div>
	<div class="headline"><h2>с какой задачей вам нужна помощь<h2></div>
	<div class="maths_tasks"><h3>математика<h3></div>
		<ul><li><a href="{% url 'maths_tasks'%}">Перестановки, сочетания, замещения</a></li></ul>
	<div class="physics"><h3>физика<h3></div>
		<ul>
			<li><a href="{%url 'mechanics'%}">Механика</a></li>
			<li><a href="{%url 'kinematics'%}">Кинематика</a></li>
			<li><a href="">Динамика</a></li>
			<li><a href="">Электростатика</a></li>
			<li><a href="">Гидростатика</a></li> 
			<li><a href="materials/physics/mechanics/mechanics.html">Механика</a></li>
			<li><a href="materials/physics/kinematics/kinematics.html">Кинематика</a></li>
			<li><a href="materials/physics/dynamics/dynamics.html">Динамика</a></li>
			<li><a href="materials/physics/electrostatics/electrostatics.html">Электростатика</a></li>
			<li><a href="materials/physics/hydrostatics/hydrostatics.html">Гидростатика</a></li>
		</ul>
	<div class="infromatics"><h3>информатика<h3></div>
		<ul>
			<li><a href="{% url 'informatics_tasks'%}">Перевод систем счисления</a></li> 
		</ul>
</div>
{% endblock %}
