{% extends 'base.html' %}
{% block content %}
<div class="materials" <a href="/"></a>
	<div class="headline"><h2>с какой задачей вам нужна помощь<h2></div>
	<div class="math"><h3>математика<h3></div>
		<ul><li></li></ul>
	<div class="physics"><h3>физика<h3></div>
		<ul>
			<li><a href="/kinematics">Кинематика</a></li>
			<li><a href="/mechanics/mechanics.html">Механика</a></li>
			<li><a href="/electrostatics">Электростатика</a></li>
			<li><a href="/hydrostatics">Гидростатика</a></li> <!--так я ссылки потом более менее настрою окда-->

		</ul>
	<div class="physics"><h3>информатика<h3></div>
		<ul>
			<li><a href="/informatics_tasks">Перевод систем счисления</a></li> <!--мда и это надо потом норм настроить-->
		</ul>
</div>
{% endblock %}