<!--ура я опять все буду делать в дивах!-->
{% extends 'base.html' %}
{% block content %}
<main>
<div>
    <div><h1>Механика</h1></div> <!--я все скопипастила-->
    <div><h2>Что изучает раздел механики?</h2></div>
    <p>Меха́ника — раздел физики, наука, изучающая движение материальных тел и взаимодействие между ними; при этом движением в механике называют изменение во времени взаимного положения тел или их частей в пространстве</p>
    <p>Самым древним и самым сложным разделом физики является механика. Один из вопросов механики - механическое движение. В этом разделе мы с вами познакомимся с механическим движением, его простейшими формулами и понятиями</p>
    <div><h2>И так...</h2></div>
    <div><h3>Понятия, которые необходимо знать:</h3></div>
    <p><a href="{%url 'kinematics'%}">Кинематика</a> — раздел, изучающий математическое описание движения тел без рассмотрения причин движения</p>
    <p><a href="{%url 'dynamics' %}">Динамика</a> — ещё раздел, изучающий движение тел с учетом причин вызвавших это движение</p>
    <p>И, соответственно, статика - раздел,изучающий равновесие тел под действием сил. На сайте можно посмотреть раздел с <a href="/electrostatics/electroctatics.html">электростатикой</a>, изучающий поведение тел в электрической среде</p>
    <input type="button" value="Далее" onclick="javascript:window.location='{%url 'kinematics' %}'"/> <!--жаба моя жаба-->
</div>
</main>
{% endblock %}