{% extends 'base.html' %}
{% block content %}
<div class="wrapper row3">
<div class="hoc container clear">
<div class="content three_quarter">
<main>
<div class="block" method='GET'>
    <div id="mech"><a href="#" onClick="document.getElementById('mech').style.display='';document.getElementById('inf_mech').style.display='';return false;"><h1>Механика</h1></div></a>
    <div id="inf_mech" style="display:none"><h2>Что изучает раздел механики?</h2>
    <p>Меха́ника — раздел физики, наука, изучающая движение материальных тел и взаимодействие между ними; при этом движением в механике называют изменение во времени взаимного положения тел или их частей в пространстве</p>
    <p>Самым древним и самым сложным разделом физики является механика. Один из вопросов механики - механическое движение. В этом разделе мы с вами познакомимся с механическим движением, его простейшими формулами и понятиями</p>
    <div><h2>И так...</h2></div>
    <div><h3>Понятия, которые необходимо знать:</h3></div>
    <p><b>Кинематика</b> — раздел, изучающий математическое описание движения тел без рассмотрения причин движения</p>
    <p><b>Динамика</b> — ещё раздел, изучающий движение тел с учетом причин вызвавших это движение</p>
    <p>И, соответственно, статика - раздел,изучающий равновесие тел под действием сил. На сайте можно посмотреть раздел с электростатикой, изучающий поведение тел в электрической среде</p>
    </div>
    <div id="kin"><a href="#" onClick="document.getElementById('kin').style.display='';document.getElementById('inf_kin').style.display='';return false;"><h1>Кинематика</h1></a>
        <div id="inf_kin" style="display:none"><h2>Что изучает раздел кинематики?</h2>
            <p>Мы уже рассматривали понятие кинематики на прошлом разделе</p>
        <p>В кинематике  описывается движение тела без выяснения причин, почему оно так движется.</p>
        <p>Самой простой формой движения объектов является <b>механическое движение</b> - изменение с течением времени положения тела в пространстве относительно других тел.</p>
        <p>Тело в течение всего движения описывает <i>траекторию</i> - линию, вдоль которогго оно двигалось. В зависимости от траектории различают <i>прямолинейное</i> и <i>криволинейное</i> движение.</p>
        <p><b>Путь</b>, в свою очередь, - длина траектории</p>
        <div><h3>А вот и основная формула пути:</h3></div>
        <p>Её необходимо запомнить!</p>
        <div><h2>
            <math xmlns="http://www.w3.org/1998/Math/MathML">
                <mrow>
                    <mi>S</mi>
                    <mo>=</mo>
                    <mi>v</mi>
                    <mi>t</mi>
                </mrow>
            </math>
        </h2>
        </div>
        </div>
    </div> 
    <div id="dyn"><a href="#" onClick="document.getElementById('dyn').style.display='';document.getElementById('inf_dyn').style.display='';return false;"><h1>Динамика</h1></a>
        <div id="inf_dyn" style="display:none"><h2>Что изучает раздел динамики?</h2>
            <p>Разумеется, любое тело движется в соответствии некоторым законам. И их всего 3. Нетрудно догадаться, о чём пойдет речь.</p>

            <p>Итак, три закона Ньютона.</p>

            <p>Первый</p>
            <p>Существуют такие системы отсчёта, называемые инерциальными, относительно которых материальные точки, когда на них не действуют никакие силы (или действуют силы взаимно уравновешенные), находятся в состоянии покоя или равномерного прямолинейного движения. </p>
            <math xmlns="http://www.w3.org/1998/Math/MathML">
                <mrow>
                    <mi>F</mi>
                    <mo>=</mo>
                    <mn>0</mn>
                </mrow>
            </math>
            <p>Второй</p> 
            <p>В инерциальной системе отсчёта ускорение, которое получает материальная точка с постоянной массой, прямо пропорционально равнодействующей всех приложенных к ней сил и обратно пропорционально её массе.</p>
            <math xmlns="http://www.w3.org/1998/Math/MathML"></math>
                <mrow>
                    <mi>F</mi>
                    <mo>=</mo>
                    <mi>m</mi>
                    <mi>a</mi>
                </mrow>
            </math>
            <p>Третий</p>
            <p>Материальные точки взаимодействуют друг с другом силами, имеющими одинаковую природу, направленными вдоль прямой, соединяющей эти точки, равными по модулю и противоположными по направлению</p>
            <math xmlns="http://www.w3.org/1998/Math/MathML">
                <mrow>
                    <mi>F<sub>1</sub></mi>
                    <mo>=</mo>
                    <mo>-</mo>
                    <mi>F<sub>2</sub></mi>
                </mrow>
            </math>
        </div>
    </div>
</main>
</div>
</div>
</div>
{% endblock %}