 <style>
 alert {
    position:relative;
    padding:.75rem 1.25rem;
    margin-bottom:1rem;
    border:1px solid transparent;
}

.alert-warning{color:#856404;background-color:#fff3cd;border-color:#ffeeba}
.alert-warning hr{border-top-color:#ffe8a1}</style>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning" role="alert">
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div><strong>Ошибка</strong></div>
                {% else %}
                    <p>{{ message.tags | title }}</p>
                {% endif %}
            </strong>
            {{ message }}
        </div>
    {% endfor %}

{% endif %}
