{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <div><h1>Кинематика</h1></div> 
        <div><h2>Что изучает раздел кинематики?</h2></div>
        <p>Мы уже рассматривали понятие кинематики на прошлом разделе</p>
        <p>В кинематике  описывается движение тела без выяснения причин, почему оно так движется.</p>
        <p>Самой простой формой движения объектов является <b>механическое движение</b> - изменение с течением времени положения тела в пространстве относительно других тел.</p>
        <p>Тело в течение всего движения описывает <i>траекторию</i> - линию, вдоль которогго оно двигалось. В зависимости от траектории различают <i>прямолинейное</i> и <i>криволинейное</i> движение.</p>
        <p><b>Путь</b>, в свою очередь, - длина траектории</p>
        <div><h3>А вот и основная формула пути:</h3></div>
        <p>Её необходимо запомнить!</p>
        <div><h2>
            <math xmlns="http://www.w3.org/1998/Math/MathML">
                <mrow>
                    <mi>S</mi>
                    <mo>=</mo>
                    <mn>v</mn>
                    <mi>t</mi>
                </mrow>
            </math>
        </h2></div>
        <br>
        <input type="button" value="Далее" onclick="javascript:window.location='/dynamics/dynamics.html'"/> <!--ещё жаба моя жаба-->
    </div>
    </main>
{% endblock %}