{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Сайтнейм</title>
<script src="https://kit.fontawesome.com/c04fd68ff8.js" crossorigin="anonymous"></script>
</head>
<body>
	<header class="site">
		<div class='sitename'><a href="/"><h1>Сайт<h1></a></div>
		<div>
			{% if 'forum' in request.path %}
        		<form action="{% url 'forum' %}">
       			<input name="search" type="search" placeholder="Search" aria-label="Search">
        		<input type="submit" value="Поиск">
        	</form>
        	{% endif %}
		</div>
		{% if user.is_authenticated %}
		<div><a href="{% url 'userprofile'%}">{{user.username}}</a></div>
		<a href="javascript:{document.getElementById('logout').submit()}">Выйти</a>
		<form action="{% url 'logout' %}" method="POST" id="logout">
		    {% csrf_token %}
		    <input type="hidden">
		</form>
		{% else %}
		<div class='autorisation'>
			<div><a href="{% url 'login' %}">Вход</a></div>
			<div><a href="{% url 'register' %} ">Регистрация</a></div>
		</div>
		{% endif %}
		<div>
			<div>
				<div>
					<ul class="navbar">
						<li><a href="{% url 'materials' %}">Материалы</a></li>
						<li><a href="/">Главная</a></li>
						<li><a href="{% url 'forum' %}">Обсуждение</a></li>
						<li><a href="{% url 'tasks' %}">Решить задачу</a></li>
					</ul>
				</div>
				<div class="reshalka">
					
				</div>
			</div>
		</div>


	</header>
</body>
	{% block content %}
	{% endblock %}
<footer class="podval">
	<!--а нужен ли нам футер--> 
	<ul class="podval">
		<li class='left'><a class='navigation' href="/">Навигация</a></li>
		<li class='right'><a class='navigation' href="/">Поддержать проект</a></li>
	</ul>
</footer>