{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Сайтнейм</title>
<script src="https://kit.fontawesome.com/c04fd68ff8.js" crossorigin="anonymous"></script>
    <style>
</style>
</head>
  <body>
	<header>
		<div><a href="/"><h1>Сайт<h1></a></div>
		<div>
			<form>
			<input type="text" placeholder="поиск по тегам">
			<button type="submit">Поиск</button>
			</form>
		</div>
		{% if user.is_authenticated %}
        <div><a href="{% url 'userprofile'%}">{{user.username}}</a></div>

        {% else %}
        <div><a href="{% url 'login' %}">вход</a></div>
		<div><a href="{% url 'register' %} ">регистрация</a></div>
        {% endif %}
		<div>
			<div>
				<div>
					<ul>
						<li><a href="{% url 'materials' %}">Материалы</a></li>
						<li><a href="/">Главная</a></li>
						<li><a href="{%url 'forum'%}">Обсуждение</a></li>
					</ul>
				</div>
				<div class="reshalka">
					<ul><li><a href="{% url 'tasks' %}">Решить задачу</a></li></ul>
				</div>
			</div>
		</div>
	</header>
    {% block content %}
    {% endblock %}
    <footer>
    <ul class="">
			<li class='left'><a href="/">Навигация</a></li>
			<li class='right'><a href="/">Поддержать проект</a></li>
		</ul>
    </footer>
