{% extends 'base.html' %}
{% block content %}
{% include 'alerts/alert.html' %}
<div class="headline"><h2>перевод в n-ную систему счисления</h2></div>
	<form action="{% url 'informatics_tasks'%}" method="POST">
	{% csrf_token %}
		<div class="form-group">
		  <label>Введите число</label> 
		  <input type="number" placeholder='10' name="n" class="" required>
		  <br>
		  <label>В какую систему перевести?</label> 
		  <input type="number" placeholder='2' name="num" class="" required>
		</div>
		<input type="submit" value="Решить" class="btn btn-secondary btn-block">
  	</form>
	<div class="answer"><h3>ответ: {{answer}}</h3></div>
</div>
{% endblock %}