{% extends 'base.html' %}
{% block content %}
{% include 'alerts/alert.html' %}
<div class="headline"><h2>перевод в n-ную систему счисления<h2></div>
<div class="vars"><h3>что дано?<h3>
	<form action="{% url 'informatics_tasks'%}" method="POST">
	{% csrf_token %}
		<div class="form-group">
		  <label>Введите число</label> 
		  <input type="number" name="n" class="" required>
		  <label>Какая система?</label> 
		  <input type="number" name="num" class="" required>
		</div>
		<input type="submit" value="" class="btn btn-secondary btn-block">
  	</form>
	<div class="answer"><h3>ответ: {{answer}}</h3></div>
</div>
{% endblock %}