{% extends 'base.html' %}
{% block content %}
{% include 'alerts/alert.html' %} <!--а что пусть тоже уведомлялка будет-->
<div class="headline"><h2>решение задачи на <h2></div>
			<div class="vars"><h3>что дано?<h3></div>
				<form action="{% url 'tasks'%}" method="POST">
					{% csrf_token %}
					<div class="form-group">
					  <label for="variable">Что дано?</label>
					  <label for="variable">Введите известные вам переменные из существующих разделов</label> <!--а у нас это механика, кинематика, электростатика, и одна формула из гидростатики-->
					  <input type="text" name="varname" class="" required>
					  <input type="text" name="varcount" class="" required>
					  <input type="text" name="varname2" class="" required>
					  <input type="text" name="varcount2" class="" required>
					</div>
	
					<div class="form-group">
					  <label for="variable">Что найти?</label>
			
					  <input type="text" name="varfind" class="" required>
					  <div type="text" name="varfindcount" class="" required>
					</div>
	
					<input type="submit" value="" class="btn btn-secondary btn-block">
				  </form>
				<div class="conclution"><h3>ответ</h3></div>
				<div{{answer}}</div>
{% endblock %}