{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-2">
    <img src="{{ product.icon.url }}" class="img-fluid" />
  </div>
  <div class="col-10">
    <a href=""><h1>{{ post.title }}</h1></a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-8">
    <img src="{{ post.title }}" class="img-fluid"  />
  </div>
  <div class="col-4">
    <a href="javascript:{document.getElementById('upvote').submit()}"><i class="fas fa-arrow-up"></i></a>{{ post.votes_total }}<a href="javascript:{document.getElementById('downvote').submit()}"><i class="fas fa-arrow-down"></i><span class="oi oi-caret-top"></a>
  </div>
</div>

<div class="row pt-2">
  <div class="col-4">
    <h4><span class="oi oi-magnifying-glass"></span> Created by {{ post.user }}</h4>
  </div>
  <div class="col-4 text-right">
    <h4><span class="oi oi-clock"></span> {{ post.pub_date_pretty }}</h4>
  </div>
</div>

<div class="row">
  <div class="col-8">
    <p>{{ post.body }}</p>
  </div>
</div>
<form id="upvote" method="POST" action="{% url 'upvote' post.id %}">
  {% csrf_token%}
  <input type="hidden">
</form>
 <form id="downvote" method="POST" action="{% url 'downvote' post.id %}">
  {% csrf_token%}
  <input type="hidden">
</form>
{% endblock %}