{% extends 'base.html' %}
{% block content %}
<div class="post" ><a href="/"></a>

		{% for post in posts %}
        <div class="row pt-3">
            <div class="col-2" onclick="window.location='{% url 'details' post.id %}'" style="cursor: pointer"><img src="{{post.image }}" class="img-fluid" /></div>
            <div class="col-6" onclick="window.location='{% url 'details' post.id %}'" style="cursor: pointer"><a href="{% url 'details' post.id %}" ><h1>{{ post.title }}</h1></a><p>{{ post.summary }}</p></div>

            <div class="col-4" onclick="window.location='{% url 'details' post.id %}'" style="cursor: pointer"><a href="javascript:{document.getElementById('upvote').submit()}"><i class="fas fa-arrow-up"></i></a>{{ post.votes_total }}<a href="javascript:{document.getElementById('downvote').submit()}"><i class="fas fa-arrow-down"></i><span class="oi oi-caret-top"></a>
        <form id="upvote" method="POST" action="{% url 'upvote' post.id %}">
  {% csrf_token%}
  <input type="hidden">
</form>
 <form id="downvote" method="POST" action="{% url 'downvote' post.id %}">
  {% csrf_token%}
  <input type="hidden">
</form>
        {% endfor %}
    </div>
    </div>
{% endblock %}